html, body{
    		padding: 0;
    		border: 0;
    		margin: 0;
    		width:100%;
    		height: 100%;
    		float: 0;
		}
		.wrap{
			width: 100%;
			height: 100%;
			float: left;
		}
		.header{
			width: 100%;
			height: 100px;
			background: #E8E8E8;
			margin-top: 0;
			float: left;
			border-bottom: 1px solid #C1CDCD;
		}
		.slide{
			width: 1000px;
			margin: 0 auto;
			overflow: hidden;
			margin-top: 150px;
			border-radius: 10px;
			position: relative;
		}
		.slide:hover .dieuhuong{
			display: block;
		}
		.dieuhuong{
			position: absolute;
			color: white;
			font-size: 40px;
			top: 40%;
			padding-left: 20px;
			display: none;
		}
		.chuyen-slide{
			width: 9999px;
			transition: all 1s;

		}
		.img{
			width: 1000px;
			height: 400px;
			float: left;			
		}
		.dieuhuong i:last-child{
			position: relative;
			left: 880px;
		}
		.cai2{
			margin-left: 50px;
		}
		.home2{
			width: auto;
			height: 50px;
			float: left;
			background: #E8E8E8;
			margin-top: 30px;
			text-align: center;
		}
		.login{
			background: #808080;
			margin-left: 100px; 
			width: auto;
			height: 30px;
			padding-left: 20px;
			padding-right: 20px;
		}
		.Register{
			background: #008000;
			margin-left: 20px; 
			width: auto;
			height: 30px;
			padding-left: 20px;
			padding-right: 20px;
		}
		.banner{
			height: 300px;
			width: 100%;
			background: #FFFFCC;
		}
		.banner1{
			text-align: center;
		}
		.main{
			margin-top: -30px;
		}
		.nav{
			height: 50px;
			text-align: center;
			margin-top: 50px;

		}
		.content{
			background: white;
			height: 2000px;
			border-top: 2px solid #FF99CC;
		}
		.content1{
			text-align: center;
			font-size: 18pt;
			margin-top: 40px;
			font-family: Comic Sans MS;
			color: #FF99CC;
			font-style: bold;
		}
		.content2{
			text-align: center;
			font-family: Comic Sans MS;
			font-size: 18pt;
			font-style: bold;
			color: #FF99CC;
		}
		.spnew{
			width: auto;
			height: 500px;
			background: white;
			padding-left: 135px;
			padding-right: 100px;
		}
		.sp1{
			width: 250px;
			height:	360px;
			background: #FFFFFF;
			margin-left: 50px;
			float: left;
			margin-top: 20px;
			border-radius: 2px;
			border-bottom: 1px solid #b1154a;
		}
		.img1{
			width: 250px;
			height: 250px;
			background: #CCCCCC;
			border-radius: 5px;
			
		}
		.sp2{
			width: 250px;
			height:	360px;
			background: #FFFFFF;
			margin-left: 50px;
			float: left;
			margin-top: 20px;
		}
		
		.sp3{
			width: 250px;
			height:	360px;
			background: #FFFFFF;
			margin-left: 50px;
			float: left;
			margin-top: 20px;
		}
		
		.sp4{
			width: 250px;
			height:	360px;
			background: #FFFFFF;
			margin-left: 50px;
			float: left;
			margin-top: 20px;
		}
		
		.xemthem{
			width: 100px;
			height: 50px;
			background: ;
			margin-left: 580px;
			margin-top: 25px;
			border-radius: 8px;
		}
		.footer{
			background: #7388C1;
			height: auto;
			width: 100%;
			height: 350PX;
		}
		.petshop{
			background: #7388C1;
			width: 200px;
			height: 300px;
			margin-left: 150px;
			float: left;
			margin-top: 30px;
			color: white;
		}
		.ndpetshop{
			margin-top: 10px;

		}
		.LL{
			float: left;
			margin-left: 210px;
			margin-top: 20px;
			font-size: 20pt;
			color: white;
		}		
		.tencun{
			text-decoration: none;
		}
		.phuongthuc{
			width: 100%;
			height: 200px;
			background: #E6E6FA;
			border-top: 0.8px solid #B0C4DE;
		}
		.uudiem{
			width: 300px;
			height: 200px;
			background: #E6E6FA;
			float: left;
			margin-left: 120px;
			margin-right: 80px;
			text-align: center;
		}
		.name-uudiem1{
			margin-top: 20px;
		}
		.name-uudiem2{
			margin-top: 10px;
		}
		section{
  padding: 20px 100px;
}

.section-home{
  position: relative;
  min-height: 100vh;
  background: url(bg.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-home:before{
  content: '';
  position: absolute;
  background: linear-gradient(to top, #23252B, transparent);
  width: 100%;
  height: 80px;
  bottom: 0;
}

.section-home h1{
  color: #fff;
  font-size: 10vw;
  font-weight: 800;
  text-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  opacity: 0.3;
}

.section-two{
  min-height: 100vh;
  background: #23252B;
}

.section-two h2{
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  margin: 30px 0;
}

.section-two p{
  color: #fff;
  font-size: 1em;
  margin: 30px 0;
}

header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #23252B;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  padding: 0 100px;
  transition: 0.6s;
  height: 80px;
}

header .logo{
  color: white	;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  margin-top: 80px;
}

header .navigation{
  position: relative;
  line-height: 75px;
  transition: 0.6s;
  transition-property: line-height;
  margin-top: 0px
}

header.sticky .navigation{
  line-height: 60px;
}

header .navigation .menu{
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
}

.menu-item > a{
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  margin: 20px;
  padding: 25px 0;
}

.menu-item > a:hover{
  color: #469DFF;
  transition: 0.3s;
}

.menu-item .sub-menu{
  position: absolute;
  background: #23252B;
  top: 74px;
  line-height: 40px;
  list-style: none;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform, opacity;
}

header.sticky .menu-item .sub-menu{
  top: 60px;
}

.menu-item:hover .sub-menu{
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.menu-item .sub-menu .sub-item{
  position: relative;
  padding: 7px 0;
  cursor: pointer;
  box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}

.menu-item .sub-menu .sub-item a{
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover{
  background: #4080EF;
}

.menu-item .sub-menu .sub-item:last-child:hover{
  border-radius: 0 0 8px 8px;
}

.more .more-menu{
  position: absolute;
  background: #23252B;
  list-style: none;
  top: 0;
  left: 100%;
  white-space: nowrap;
  border-radius: 0 8px 8px 8px;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform, opacity;
}

.more:hover .more-menu{
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.more .more-menu .more-item{
  padding: 7px 0;
  box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.more .more-menu .more-item:hover{
  background: #4080EF;
}

.menu-btn{
  display: none;
}

@media (max-width: 1060px){
  header .navigation .menu{
    position: fixed;
    display: block;
    background: #23252b;
    min-width: 350px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 90px 50px;
    visibility: hidden;
    overflow-y: auto;
    transition: 0.5s;
    transition-property: right, visibility;
  }

  header.sticky .navigation{
    line-height: 75px;
  }

  header .navigation .menu.active{
    right: 0;
    visibility: visible;
  }

  .menu-item{
    position: relative;

  }

  .menu-item .sub-menu{
    opacity: 1;
    position: relative;
    top: 0;
    transform: translateX(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    overflow: hidden;
    display: none;
  }

  header.sticky .menu-item .sub-menu{
    top: 0;
  }

  .menu-item:hover .sub-menu{
    transform: translateX(10px);
  }

  .menu-item .sub-menu .sub-item{
    box-shadow: none;
  }

  .menu-item .sub-menu .sub-item:hover{
    background: none;
  }

  .menu-item .sub-menu .sub-item a:hover{
    color: #4080EF;
    transition: 0.3s;
  }

  .more .more-menu{
    opacity: 1;
    position: relative;
    left: 0;
    transform: translateY(0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: none;
  }

  .more .more-menu .more-item{
    box-shadow: none;
  }

  .more .more-menu .more-item:hover{
    background: none;
  }

  .more .more-menu .more-item a{
    margin-left: 20px;
  }

  .close-btn{
    position: absolute;
    background: url(close.png)no-repeat;
    width: 40px;
    height: 40px;
    background-size: 25px;
    background-position: center;
    top: 0;
    left: 0;
    margin: 25px;
    cursor: pointer;

  }

  .menu-btn{
    background: url(menu.png)no-repeat;
    width: 40px;
    height: 40px;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    display: block;
  }

  header{
    padding: 15px 20px;
  }

  header.sticky{
    padding: 10px 20px;
  }
}
